@font-face {
  font-family: "Sailec-Bold";
  src: url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.eot");
  src: url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/61b43418b9624db49ba89da5d1b7eec8.svg#Sailec-Bold") format("svg");
}

@font-face {
  src: 'https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap';
  font-family: 'Titillium Web', sans-serif;
}